[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
bokeh = "*"
uwsgi = "*"

[dev-packages]

[requires]
python_version = "3.7"
